{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "defaults",
                "modules": "auto",
                "useBuiltIns": "usage",
                "corejs": "3.45"
            }
        ]
    ]
}